.item{
  
  display: flex;
  flex-direction: row;
  align-items: center;
    
}
  
button{

  border: none;
  font-family: "Fira Mono", serif;
  background-color: rgb(40, 40, 40);
  color: whitesmoke;
  font-size: 1em;
  cursor: pointer;
  
}